
@font-face 
{
    font-family: 'Gtek Technology';
    src: url('../fonts/Gtek_Technology.woff');
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body 
{
     margin: 0;
     font-family: 'Roboto';
     
}

@media only screen and (min-width: 768px){
  body {
      font-size: 1.1em;
  }
}

.main
{
    margin: 0;
    height: 100%;
    width: 100%;    
}

@media only screen and (min-width: 768px){
  .main {
    height: 100%;
    background: url("../img/y-9500.jpg")no-repeat;
    background-size: cover;
  }
}



#preloader 
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
      /* change if the mask should have another color then white */
    z-index: 99;
      /* makes sure it stays on top */
}

#status 
{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    /* centers the loading animation horizontally one the screen */
    top: 50%;
    /* centers the loading animation vertically one the screen */
    background-image: url(../img/6.gif);
    /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    /* is width and height divided by two */
}

.header_container
{
    margin-top: 1%;
    
}

.logo
{
    display: block;
    text-align: right;
    padding-top: 17px;
}

.button
{
    display: block;
    text-align: left;
    padding-top: 10px;

}

#mute
{   
    margin-left: 40px;
    border: transparent;
    background-color: transparent;
    
}

.menu_container
{
    width: 45%;
    margin: 0 auto;
    font-size: 1.1em;
}

@media only screen and (max-width: 768px){
  .menu_container {
   width: 90%;
  }
}

.menu_container p
{
    text-align: right;
}

.menu ul
{
    list-style: none;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
   
}

.menu ul li 
{
    display: inline;
    text-transform: uppercase;
    padding: 0 10px;
   
}

.menu ul li a 
{
    text-decoration: none;
    color: #000;
}

.menu ul li a:hover 
{
    color: #DE1B4F;
}

.logo a 
{
     text-decoration: none;
     color: #000;
     font-family: 'Gtek Technology';
     font-size: 23px;
}

.logo a:hover 
{
     text-decoration: none;
     color: #DE1B4F;
}

.logo a:active 
{
      color: #DE1B4F;
}

.logout
{
    text-align: center;
    padding-top: 10px;
    font-size: 1.25em;
    
}

.logout a
{
    text-decoration: none;
    color: #DE1B4F;
}

.logout a:hover 
{
     text-decoration: none;
     color: #000;
}


.quote_main
{   
    overflow: hidden;
    width: 55%;
    margin-left: 25%;
    margin-top: 10%;
}

.quote_main p
{
   font-size: 1.75em;
    
}

#title_me
{
   margin-top: 10%;
   margin-bottom: 5%;
   text-align: center;

}


.me_image
{
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .me_image 
  {
    
    text-align: center;
    width: 60%;
    margin: 15% 35%;
  }
}

.about_me
{
    overflow: hidden;
    
}

@media only screen and (min-width: 768px) {
  .about_me {
    width: 62%;
   margin-bottom: 10%;
  }
}

.line_under_content
{
   border-bottom: 1px solid #000;
   width: 90%;
}

.quote_under_line
{
 width: 90%;  
}

.quote_under_line p
{
    text-align: right;
}

#title_site
{
   margin-top: 10%;
   margin-bottom: 5%;
   text-align: center;

}

.about_site
{
    overflow: hidden;
    
}

.icon
{
    width: 75%;
    margin: 20% 30%;
}



@media only screen and (min-width: 768px) {
  .about_site {
   
    width: 62%;
    margin: 10% 40%;
    
  }
}

.line_under_content2
{
    border-bottom: 1px solid #000;
    width: 90%;
}

.quote_under_line2
{
    width: 90%;
}

.quote_under_line2 p
{
    text-align: right;
}

#title_download
{
   margin-top: 10%;
   margin-bottom: 5%;
   text-align: center;

}

 .button_download
{
    text-align: center;
}
@media only screen and (min-width: 768px) and (max-width: 1170px){
  .button_download {
   
    margin-top: 10%;
    text-align: center;
    
  }
}
@media only screen and (min-width: 1170px) {
  .button_download {
   
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 30%;
    text-align: center;
    
  }
}
.ghost-button{
  display: inline-block;
  width: 200px;
  padding: 12px;
  color: #000;
  border: 2px solid #000;
  text-align: center;
  outline: none;
  text-decoration: none;
  font-size: 20px;
}
.ghost-button:hover,
.ghost-button:active {
  border: 2px solid #DE1B4F;
  color: #DE1B4F;
  transition: border-color 0.4s ease-in,
              color 0.4s ease-in;
}

@media only screen and (max-width: 1170px) {
  .ghost-button {
   
    width: 130px;
    font-size: 13px;
      transition:
  }
}

.ghost-button2{
  display: inline-block;
  width: 200px;
  padding: 12px;
  color: #DE1B4F;
  border: 2px solid #DE1B4F;
  text-align: center;
  outline: none;
  text-decoration: none;
  font-size: 20px;
}
.ghost-button2:hover,
.ghost-button2:active {
  border: 2px solid #000;
  color: #000;
  transition: border-color 0.4s ease-in,
              color 0.4s ease-in;
}

.button_download2
{
    text-align: center;
}
@media only screen and (min-width: 1170px) {
  .button_download2 {
   
    margin-top: 10%;
    margin-left: 10%;
    text-align: center;
    
  }
}
@media only screen and (max-width: 1170px) {
  .button_download2 {
   
    display: none;
  }
}
 .button_download3
{
    text-align: center;
}
@media only screen and (min-width: 768px) and (max-width: 1170px){
  .button_download3 {
   
    margin-top: 10%;
    margin-left: -30%;
    text-align: center;
    
  }
}
@media only screen and (min-width: 1170px) {
  .button_download3 {
   
    margin-top: 10%;
    margin-left: 10%;
    text-align: center;
    
  }
}
.ghost-button3{
  display: inline-block;
  width: 200px;
  padding: 12px;
  color: #000;
  border: 2px solid #000;
  text-align: center;
  outline: none;
  text-decoration: none;
  font-size: 20px;
}
.ghost-button3:hover,
.ghost-button3:active {
  border: 2px solid #DE1B4F;
  color: #DE1B4F;
  transition: border-color 0.4s ease-in,
              color 0.4s ease-in;
}

@media only screen and (max-width: 1170px) {
  .ghost-button3 {
   
    width: 130px;
    font-size: 13px;
  }
}

#contact_title
{
   text-align: center;
   margin-top: 5%;
   margin-bottom: 5%;
    
}
.contacts
{
    width: 100%;
    margin-left: 30%;
    
}
.contacts_2
{
    width: 100%;
    margin-left: 30%;
    margin-bottom: 10%;
}

.line_under_content3
{
    border-bottom: 1px solid #000;
    width: 90%;
}



.quote_under_line ul {
    list-style: none;
    padding-bottom: 10px;
    text-align: right;
    font-size: 1.1em;
}
.quote_under_line ul li {
    display: inline;
    text-transform: uppercase;
    padding: 0 10px;
   
}
.quote_under_line ul li a {
    text-decoration: none;
    color: #000;
}
.quote_under_line ul li a:hover {
    color: #DE1B4F;
}

@media only screen and (max-width: 768px) {
  .quote_under_line ul li a.github {
   
      display: none;
  }
}

@media only screen and (max-width: 768px) {
  .quote_under_line ul li {
   
   padding: 0 5px;
    
  }
}

.footerr
{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
    text-align: center;
}



/*
  Simple Grid
  Project Page - http://thisisdallas.github.com/Simple-Grid/
  Author - Dallas Bass
  Site - http://dallasbass.com
*/

[class*='grid'],
[class*='col-'],
[class*='mobile-'],
.grid:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}

[class*='col-'] {
	float: left;
  	min-height: 1px;
	padding-right: 20px; /* column-space */
}

[class*='col-'] [class*='col-']:last-child {
	padding-right: 0;
}

.grid {
	width: 100%;
	max-width: 95%;
	min-width: 748px; /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
	margin: 0 auto;
	overflow: hidden;
}

.grid:after {
	content: "";
	display: table;
	clear: both;
}

.grid-pad {
	padding-top: 20px;
	padding-left: 20px; /* grid-space to left */
	padding-right: 0; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
}

.push-right {
	float: right;
}

/* Content Columns */

.col-1-1 {
	width: 100%;

}
.col-2-3, .col-8-12 {
	width: 66.66%;
}

.col-1-2, .col-6-12 {
	width: 50%;
}

.col-1-3, .col-4-12 {
	width: 33.33%;
}

.col-1-4, .col-3-12 {
	width: 25%;
}

.col-1-5 {
	width: 20%;
}

.col-1-6, .col-2-12 {
	width: 16.667%;
}

.col-1-7 {
	width: 14.28%;
}

.col-1-8 {
	width: 12.5%;
}

.col-1-9 {
	width: 11.1%;
}

.col-1-10 {
	width: 10%;
}

.col-1-11 {
	width: 9.09%;
}

.col-1-12 {
	width: 8.33%
}

/* Layout Columns */

.col-11-12 {
	width: 91.66%
}

.col-10-12 {
	width: 83.333%;
}

.col-9-12 {
	width: 75%;
}

.col-5-12 {
	width: 41.66%;
}

.col-7-12 {
	width: 58.33%
}

/* Pushing blocks */

.push-2-3, .push-8-12 {
	margin-left: 66.66%;
}

.push-1-2, .push-6-12 {
	margin-left: 50%;
}

.push-1-3, .push-4-12 {
	margin-left: 33.33%;
}

.push-1-4, .push-3-12 {
	margin-left: 25%;
}

.push-1-5 {
	margin-left: 20%;
}

.push-1-6, .push-2-12 {
	margin-left: 16.667%;
}

.push-1-7 {
	margin-left: 14.28%;
}

.push-1-8 {
	margin-left: 12.5%;
}

.push-1-9 {
	margin-left: 11.1%;
}

.push-1-10 {
	margin-left: 10%;
}

.push-1-11 {
	margin-left: 9.09%;
}

.push-1-12 {
	margin-left: 8.33%
}

@media handheld, only screen and (max-width: 767px) {
	.grid {
		width: 100%;
		min-width: 0;
		margin-left: 0;
		margin-right: 0;
		padding-left: 20px; /* grid-space to left */
		padding-right: 10px; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-10px=10px */
	}

	[class*='col-'] {
		width: auto;
		float: none;
		margin: 10px 0;
		padding-left: 0;
		padding-right: 10px; /* column-space */
	}

	[class*='col-'] [class*='col-'] {
		padding-right: 0;
	}

	/* Mobile Layout */

	[class*='mobile-col-'] {
		float: left;
		margin: 0 0 10px;
		padding-left: 0;
		padding-right: 10px; /* column-space */
		padding-bottom: 0;
	}

	.mobile-col-1-1 {
		width: 100%;
	}
	.mobile-col-2-3, .mobile-col-8-12 {
		width: 66.66%;
	}

	.mobile-col-1-2, .mobile-col-6-12 {
		width: 50%;
	}

	.mobile-col-1-3, .mobile-col-4-12 {
		width: 33.33%;
	}

	.mobile-col-1-4, .mobile-col-3-12 {
		width: 25%;
	}

	.mobile-col-1-5 {
		width: 20%;
	}

	.mobile-col-1-6, .mobile-col-2-12 {
		width: 16.667%;
	}

	.mobile-col-1-7 {
		width: 14.28%;
	}

	.mobile-col-1-8 {
		width: 12.5%;
	}

	.mobile-col-1-9 {
		width: 11.1%;
	}

	.mobile-col-1-10 {
		width: 10%;
	}

	.mobile-col-1-11 {
		width: 9.09%;
	}

	.mobile-col-1-12 {
		width: 8.33%
	}

	/* Layout Columns */

	.mobile-col-11-12 {
		width: 91.66%
	}

	.mobile-col-10-12 {
		width: 83.333%;
	}

	.mobile-col-9-12 {
		width: 75%;
	}

	.mobile-col-5-12 {
		width: 41.66%;
	}

	.mobile-col-7-12 {
		width: 58.33%
	}

	.hide-on-mobile {
		display: none !important;
		width: 0;
		height: 0;
	}
}

